{
  "plugins": ["react"],
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended", "prettier/react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/first": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "warn",
    "react/jsx-handler-names": "error",
    "react/jsx-key": "error",
    "react/jsx-wrap-multilines": "error",
    "react/no-direct-mutation-state": "error",
    "react/sort-comp": "error",
    "react/sort-prop-types": "error"
  }
}
